$black: #000;

$white-pure: #FFF;
$white-100: #F7F7F7;
$white-200: #EEE;

$blue-primary: #1A5FB2;
$blue-500: #1A5FB2;
$blue-400: #2077DF;
$blue-900: #091F3A;
$blue-100: #EDF4FC;
$blue-300: #BCD6F5;
$blue-200: #D7E7F9;

$blue-400: #666D75;
$blue-200: #BBBFC4;
$blue-300: #8D939B;
$blue-100: #E9EBEC;
$blue-800: #444;

$grayblue-300: #98A4B3;
$grayblue-100: #E5E8EC;
$grayblue-200: #C4CBD4;

$red-400: #EC0000;
$red-500: #CC0000;
$red-200: #FFE0E0;

$green-400: #008000;
$green-200: #E0FFE0;

$yellow: #FFFF00;
